form {
    border : 1px solid black;
    margin: 100px auto;
    width : 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 20px;
}
.loginpage{
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1{
    font-family:sans-serif;
    text-align: center;
    padding-top: 30px;
}

label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #050505;
    text-align: left;
}

button{
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}